/* (BEGIN) Basic Formatting */
* {
  margin:0;
  padding:0;  
}
:root {
  --color_dark: #35363E;
  --color_banner: #A5C9CC;
  --color_background: #FDF8F5;
}  
body {
  position: relative;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  background-color: var(--color_background);
  color: #4F4846;
}
/* (END) Basic Formatting */

/* (BEGIN) Header Formatting */
header {
  position:relative;
  height:auto;
  padding: 20px;
  display: flex;
  background-color: var(--color_dark);
  color:var(--color_banner);
  justify-content: space-between;
}

.banner {
  display: flex;
  color:var(--color_dark);
  background-color: var(--color_banner);
  padding: 5px;
  display: flex;
  flex-direction: column;
}
header figure {
  display: flex;
  position:absolute;
  right: 50%;
  height: 4em;
  width: auto;
  vertical-align: middle;
}
#headshot {
  height: 100%;
}
header nav ul {
  vertical-align: middle;
  display: flex
}
li {
  vertical-align: middle;
  text-align: right;
  display: inline;
  color: var(--color_banner);
  border-bottom: 2px solid var(--color_banner);
  padding: 5px;
  margin: 5px;
}
a {
  text-decoration: none;
  color: var(--color_banner);
}
/* (END) Header Formatting */

/* (BEGIN) Top Photo Formatting */
.top_photo {
  display: flex;
  position: relative;
  background-color: var(--color_background);
}
.top_photo img {
  width: 100%;
}
.top_photo h2 {
  position: absolute;
  bottom: 0.5em;
  right: 2em;
}
/* (END) Top Photo Formatting */

/* (BEGIN) General Section Formatting */
.block-section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* Standardized Formatting of Left Side of the Page */
.left-side {
  font-size: 300%;
  flex: 1 1 0;
  min-width: 200px; 
  padding: 0em .5em 1em 0em;
  text-align: right;
  vertical-align: top;

  border-right: 5px solid var(--color_dark);
}

/* Standardized Formatting of Right Side of the Page */
.right-side {
  flex: 3 1 0;
  text-align: left;
  justify-content: space-evenly;
  padding: 1em;
  font-size: 125%;
}
/* (END) General Section Formatting */

/* (BEGIN) 'About Me' Specific Formatting */
article p {
  margin-bottom: 1em;
}
/* (END) 'About Me' Specific Formatting */

/* (BEGIN) 'Works' Specific Formatting */
#works .right-side{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
/* Keeps the Most recent Card on its own line */
.most-recent {
  min-width: 95%;
}

.card {
  display: flex;
  flex: 1 1 0;
  border: 2px solid var(--color_banner);
  height:auto;
  position: relative;
  min-width: 200px;
  margin:1em;
}

.card img {
  width: 100%;
  z-index: 1;
}

.card .overlay {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
  /* Makes Image Clickable by making the <a tag> a block display 
  which takes the whole card and pushes the seo compliant text 
  description off the page */
.link {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

.card header {
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 20%;
  background-color: var(--color_banner);
  color:var(--color_dark);
}
/* (END) 'Works' Specific Formatting */

/* (BEGIN) 'Contact Me' Formatting */
footer nav ul{
  text-align: center;
 }
footer nav ul li{
  border-bottom: 2px solid var(--color_dark);
}
footer nav ul li a{
  color: var(--color_dark);
}
/* (END) 'Contact Me' Formatting */

/* (BEGIN) Viewport Style Edits */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  #headshot {
    opacity: 0;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  body {
    font-size: .8em;
  }

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  body {
    font-size: .6em;
  }

}
/* (END) Viewport Style Edits */

/* (BEGIN) User Input Formatting*/
.card:hover .overlay {
  opacity: 0.3;

}
/* (END) User Input Formatting */