/* Basic Formatting */
* {
  margin:0;
  padding:0;  
}
:root {
  --color_dark: #35363E;
  --color_banner: #A5C9CC;
}  
body {
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  background-color: #FDF8F5;
  color: #4F4846;
}

/* Header Styling */
header {
  height:auto;
  padding: 20px;
  display: flex;
  background-color: var(--color_dark);
  color:var(--color_banner);
  justify-content: space-between;
}

.banner {
  color:var(--color_dark);
  background-color: var(--color_banner);
  padding: 5px;
}
header nav ul {
  vertical-align: middle;
  display: flex
}
li {
  vertical-align: middle;
  text-align: right;
  display: inline;
  color: var(--color_banner);
  border-bottom: 2px solid var(--color_banner);
  padding: 5px;
  margin: 5px;
}
a {
  text-decoration: none;
  color: var(--color_banner);
}
/* General Section Formatting */
.block-section {
  /* TODO: Remove Border here */
  border: 2px solid cyan;
  /* Good formatting */
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.left-side {
  /* TODO: Remove Border here */
  border: 2px solid hotpink;
  /* Good formatting */
  font-size: 300%;
  flex: 1 1 0;
  max-width: 250px;
  padding: 0em .5em 1em 0em;
  text-align: right;
  vertical-align: top;
  border-right: 5px solid var(--color_dark);
}

.right-side {
  /* TODO: Remove Border here */
  border: 2px solid hotpink;
  /* Good Formatting */
  flex: 3 1 0;
  text-align: left;
  justify-content: space-evenly;
  padding: 1em;
  font-size: 125%;
}
/* 'About Me' Specific Formatting */
p {
  margin-bottom: 1em;
}

/* To Do: 'Works' Formatting */
#works .right-side{
  /* Centers along the main axis determined by flex-direction */
  justify-content: center;
  /* Centers along the opposite axis */
  align-items: center;
  width: 90%;
  /* Uses the height of the viewport */
  height: auto;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px;
}
.card {
  flex:1 0 0;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid aqua;
  height:auto;
  position: relative;
  max-width: 300px;
}
.card img {
  width: 100%;
  opacity: 1;
}
.card header {
  position: absolute;
  left: 0;
  bottom: 20%;
  background-color: var(--color_banner);
  color:var(--color_dark);
}
/* 'Contact Me' Formatting */
footer nav ul{
  text-align: center;
 }
footer nav ul li{
  border-bottom: 2px solid var(--color_dark);
}
footer nav ul li a{
  color: var(--color_dark);
}
 /* To Do: Viewport Style Edits*/

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    color:green
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    color: blue;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  header {
    color: purple;
  }
}

/* To Do: Add User Input */